html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.score
{
  text-decoration: underline;
  color: red;
  font-size: 20px;
  position: absolute;
  margin-left: 500px;
  margin-top: 5px;
}
.skip
{
  text-decoration: underline;
  color: red;
  font-size: 20px;
  position: absolute;
  margin-left: 500px;
  margin-top: 30px;
}